@media screen and (max-width: 1200px) {
  .navbar-container {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .rifgt-sidebar {
    width: 100%;
  }
}
@media screen and (min-width: 1201px) {
  .cross-animat-set {
    display: none;
  }
}
